<div class="card-header">
    <div class="mx-auto" style="width: 900px;">
        <h3>RELATÓRIO DE PACIENTES DO HOSPITAL SÃO FRANCISCO DE ASSIS</h3>
    </div>
    <div class="container">
      <form>
        <div class="input-group mb-3">
          <div class="input-group-prepend"> 
            <select class="btn btn-outline-success dropdown-toggle" id="inlineFormCustomSelect">
              <div class="dropdown-menu">
                <option selected>Selecione...</option>
                <option name= "data" value= "1" >Data de Retorno</option>
                <option name= "status/<%= records.status %>" value= "2">Status</option>
              </div>
            </select> 
        </div>
          &ensp;
            <input type="text" class="form-control" aria-label="Input text com botão dropdown" placeholder="">
          &ensp;
          <button class ="btn btn-success">Filtar</button>
        </div>
      </form>
    </div>
</div>